
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Lanreé Aesthetics offers more than just beauty appearance service with the emphasis of individualised personal care treatment. We offer an array of aesthetic dermatological procedures using latest cutting edges techniques in the industry. We are currently based in Parnell, Auckland.">
        <meta name="keywords" content="Lanree, Lanreé, Lanree Aesthetics, Lanreé Aesthetics, Beauty, Salon, Spa, Nail, Nail Arts, Rejuvenating, Refreshing, Skin, Dermal Peel, Dermatology, treatment, skin care, skin, beautiful skin, Parnell, CBD, Street, Road">
        <meta name="author" content="Laken Mok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="fb:app_id" content="283517015450058"/>
        <meta property="og:url"                content="https://lanree.co.nz" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Lanreé Aesthetics - Welcome to the Journey of Beauty" />
        <meta property="og:description"        content="OPENING PROMOTION - We offer more than just beauty appearance service with the emphasis of individualised personal care treatment. Book now at https://lanree.co.nz/Bookings or call us at 09 365 1188" />
        <meta property="og:image"              content="https://lanree.co.nz/assets/img/fb-promotion.jpg"/>
        <title> Lanreé Aesthetics </title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Tangerine:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="assets/css/style.css" rel="stylesheet"/>
    </head>
    <body>

        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button id="nav-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lanree-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-flex collapse navbar-collapse" id="lanree-nav">
                    <li class="mobile-only active"><a href="#"> Home </a></li>
                    <li><a href="Treatments">Treatments</a></li>
                    <li><a href="Bookings">Bookings</a></li>
                    <li class="lanree-brand"><a href="#"><img class="img-responsive" width="75" height="auto" src="assets/img/lanree-sm.png"/></a></li>
                    <li class="mobile-only"><a href="About">About Us </a></li>
                    <li class="dropdown  desktop-only"><a class="dropdown-toggle"  data-toggle="dropdown" href="#">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="About"> About Lanreé</a></li>
                            <li><a href="Careers"> Careers </a></li>
                        </ul>
                    </li>
                    <li><a href="Contact">Contact Us</a></li>
                    <li class="mobile-only"><a href="Careers">Careers</a></li>
                </ul>
            </div>
        </nav>
        <div id="wrapper">
            <div class="full-background">
                <div class="row header-container" style="margin-top: 2.5%">
                    <img class="img-responsive center-block mobile-only lanree-logo" src="assets/img/lanree.png"/>
                    <div class="welcome-header"> Welcome to the Journey of Beauty</div>
                    <div class="col-sm-5 col-md-4 book-button">
                        <a href="Bookings" class="btn btn-block lanree-button"> Make a Booking </a>
                    </div>
                    <div class="col-sm-5 col-md-4 book-button">
                        <a href="Contact" class="btn btn-block lanree-button"> Get a Consultation </a>
                    </div>
                </div>
            </div>
            <div class="custom-container marginless">
                <!--<div class="line-heading">
                    <span class="line-text">
                        OFFERS
                    </span>
                </div>
                <div class="offer-container">
                    <img class="img-responsive center-block promotion-img desktop-only" src="assets/img/voucher.jpg"/>
                    <img class="img-responsive center-block promotion-img mobile-only" src="assets/img/voucher-mobile.jpg"/>
                </div>-->
                <!-- Who are We -->
                <div id="lounge-block">
                    <div class="margin">
                        <h1 class="intro-heading">Who are We?</h1>
                        <p class="intro-text">
                            Lanreé Aesthetics offers more than just beauty appearance service with the emphasis of individualised personal care treatment.
                            We offer an array of aesthetic dermatological procedures using latest cutting edges techniques in the industry.
                            <br>
                            <br>
                            Lanree Aesthetics is located at 128, Parnell Road, Parnell,
                            one of Auckland’s most affluent suburbs in New Zealand, where timeless heritage rub shoulders with the bright, modern lights of tomorrow.
                        </p>
                    </div>
                    <div class="lounge-bg">
                    </div>
                    <div class="facilities-row margin">
                        <h1 class="intro-heading"> Nail Lounge </h1>
                        <p class="intro-text">
                            Lanreé uses nail polish that is made from New York's natural environmental friendly resin composition that creates a strong, thin and odourless acrylic overlay,
                            effectively improving the color of finished products. Your nails are protected, nourished and strengthened with infusions of calcium & vitamins.
                            Choose from a range of colours and add-on polish treatment for a classic and elegant look from luxurious brands such as Barbie Mirage and Zoya.
                        </p>
                        <div class="barbie-mirage-row">

                        </div>
                    </div>
                    <hr>
                    <h1 class=" product-row intro-heading"> Why Us? </h1>
                    <div class="margin product-row">
                        <div class="flex-row reverse-flex marginless-flex">
                            <div class="flex-product">
                                <img class="img-responsive" src="assets/img/facilities/artpro-machine-cropped.jpg" alt="3D ArtPro Machine"/>
                            </div>
                            <div class="flex-product facilities-description">
                                <h2 class="intro-heading">
                                    Lanree 3D express ArtPro
                                </h2>
                                <p class="intro-text">
                                    Experience Lanree 3D express ArtPro nail art which is solely exclusive in New Zealand bringing revolutionary cutting-edge advanced
                                    technology that prints all graphics desired onto nails within minutes. With unlimited colours and patterns and the ability to upload
                                    your own photo or selfie, your beautiful custom nails will be the showpiece of any outfit for any occasions.
                                </p>
                            </div>
                        </div>
                        <div class="flex-row marginless-flex">
                            <div class="flex-product">
                                <img class="img-responsive" src="assets/img/facilities/diagnosis-machine-landscape.jpg" alt="Lanree Treatment Room"/>
                            </div>
                            <div class="flex-product facilities-description">
                                <h2 class="intro-heading">
                                    Advance Skin Imaging Diagnosis
                                </h2>
                                <p class="intro-text">
                                    At Lanreé, our skin care experts will provide customers a one-on-one consultation during each visit to gain an accurate and deeper
                                    understanding of our customer’s skin condition with a thorough personal and lifestyle habits analysis.
                                    Our experts would also conduct an advanced in-depth face zone analysis with the latest technology to generate accurate root analysis of our customer’s skin concern.

                                </p>

                            </div>
                        </div>
                        <div class="flex-row reverse-flex marginless-flex">
                            <div class="flex-product">
                                <img class="img-responsive" src="assets/img/facilities/lounge.jpg" alt="Relaxation Lounge"/>
                            </div>
                            <div class="flex-product facilities-description">
                                <h2 class="intro-heading">
                                    Relaxation Lounge
                                </h2>
                                <p class="intro-text">
                                    Before or after a treatment, you could indulge your need for comfort at our dedicated lounge area with a complimentary
                                    hot towel and fragrant jasmine tea with seasonal fruits while unwinding at our lounge area.
                                </p>

                            </div>
                        </div>
                        <div class="flex-row marginless-flex">
                            <div class="flex-product">
                                <img class="img-responsive" src="assets/img/facilities/treatment-room.jpg" alt="Lanree Treatment Room"/>
                            </div>
                            <div class="flex-product facilities-description">
                                <h2 class="intro-heading">
                                    Be Pampered
                                </h2>
                                <p class="intro-text">
                                    Our dedicated skin care experts offer more than just beauty aesthetics with the emphasis of individualized personal care treatment.
                                    Lanreé aims to educate and provide every customer with the essential and proper health management to improve their skin concerns and restoring the appearance of the skin.
                                    Our treatments and products are made from natural ingredients that are effective in maintaining healthy skin from within.
                                </p>

                            </div>
                        </div>
                        <div class="center-button" onclick="window.location.replace('https://www.lanree.co.nz/About')">
                            Read More
                        </div>

                    </div>

                </div>

                <!-- End of Who are We -->

                <hr>
                <div class="margin space-block">
                    <h1 align="center" class="intro-heading" style="margin-bottom: 5%"> Treatments </h1>
                    <div class="treatment-container">
                        <a class="treatment-panel" id="manicure-panel" href="Treatments?treatment=manicures">
                            <h3 class="treatment-header mobile-only"> Manicure </h3>
                        </a>
                        <div class="treatment-panel colour-block-blue" onclick="window.location.replace('https://www.lanree.co.nz/Treatments?treatment=manicures')">
                            <h3>Manicures</h3>
                            <p> Experience Lanree 3D express ArtPro nail art which is solely exclusive in New Zealand. </p>
                        </div>
                        <a class="treatment-panel" id="aesthetic-panel" href="Treatments?treatment=aesthetics">
                            <h3 class="treatment-header mobile-only"> Aesthetics </h3>
                        </a>
                        <div class="treatment-panel colour-block-green" onclick="window.location.replace('https://www.lanree.co.nz/Treatments?treatment=aesthetics')">
                            <h3>Aesthetics</h3>
                            <p> We offer a variety of services from semi permanent brow design to semi permanent tattoo design. </p>
                        </div>
                        <div class="treatment-panel colour-block-yellow" onclick="window.location.replace('https://www.lanree.co.nz/Treatments?treatment=facial')">
                            <h3>Facial</h3>
                            <p> Treatments with natural ingredients that are effective in maintaining healthy skin from within.</p>
                        </div>
                        <a class="treatment-panel" id="facial-panel" href="Treatments?treatment=facial">
                            <h3 class="treatment-header mobile-only"> Facial Therapy </h3>

                        </a>
                        <div class="treatment-panel colour-block-pink" onclick="window.location.replace('https://www.lanree.co.nz/Treatments?treatment=5e')">
                            <h3>5 Elements</h3>
                            <p> We offer more than just beauty aesthetics with the emphasis of individualized personal care treatment. </p>
                        </div>
                        <a class="treatment-panel" id="fiveelement-panel" href="Treatments?treatment=5e">
                            <h3 class="treatment-header mobile-only"> 5 Elements </h3>

                        </a>



                    </div>
                </div>

                <hr>
                <div class="margin space-block">
                    <h1 align="center" class="intro-heading" style="margin-bottom: 5%"> Latest News </h1>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                <a href="assets/pdf/MICOOL-A Brochure.pdf" target="_blank">
                                    <img src="assets/img/MICOOL-A.jpg" alt="Slimming Machine MICOOL-A">
                                    <div class="caption">
                                        <h4 align="left">MICOOL-A Slimming Machine</h4>
                                        <p align="left"><small>12 July 2017</small></p>
                                        <p align="left">
                                            <small>Arriving next week are some new slimming machine manufactured by Hironic Co., Ltd. This slimming machine
                                                uses Cryo Fat Reduction technique that makes slimming a piece of cake. No more to surgery, anesthesia and downtime!
                                                Click to read more >
                                            </small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-sm-6 col-md-3 treatment-panel">1</div>
                    <div class="col-sm-6 col-md-3 treatment-panel">2</div>
                    <div class="col-sm-6 col-md-3 treatment-panel">3</div>
                    <div class="col-sm-6 col-md-3 treatment-panel">4</div>
                </div>-->
            </div>
        </div>
        <div id="footer">
            <div class="footer-container">
                <div class="row">
                    <div class="col-md-4 col-md-push-4" align="center" id="social-media">
                        <a style="text-decoration: none; color: white" href="https://www.facebook.com/Lanree-Aesthetics-139381216620930/" target="_blank"><i class="fa fa-facebook-square fa-2x social-icons"></i></a>
                        <a style="text-decoration: none; color: white" href="https://www.instagram.com/lanreeaesthetics/?hl=en" target="_blank"><i class="fa fa-instagram fa-2x social-icons"></i></a>
                    </div>

                    <div class="col-md-4 col-md-pull-4" id="address">
                        <p style="margin-bottom: 10px">&copy 2017 Lanreé Aesthetics</p>
                        <p>
                            128 Parnell Road,
                            <br>
                            Parnell, 1052
                            <br>
                            Auckland, New Zealand
                            <br>

                        </p>

                        <p><a href="tel:093651188">Tel: 09 365 1188</a></p>
                        <p>E-mail: info@lanree.co.nz </p>
                        <p><strong> Opening Hours: </strong></p>
                        <p> Mon-Fri: 10:00am - 6:30pm
                            <br>
                            Sat-Sun: 10:00am - 6:00pm
                        </p>
                    </div>

                    <div class="col-md-4" id="locate-us">
                        <a id="gmap-mobile" style=" text-decoration: underline" target="_blank" href="https://www.google.co.nz/maps/dir//128+Parnell+Rd,+Parnell,+Auckland+1052/@-36.8538177,174.7799201,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6d0d480ed8ec7ab7:0xea0c436fcc43af73!2m2!1d174.7794266!2d-36.8532683"><i class="fa fa-location-arrow" style="margin-right:5px;"></i>Get Directions</a>
                        <iframe id="gmap"
                        frameborder="0" style="border:0" align="right"
                        src="https://www.google.com/maps/embed/v1/place?zoom=15&key=AIzaSyDOHaqh_QVvU6BTSziZcObNeUjLqLwEeDY
                            &q=128 Parnell Road, 1052 Parnell" allowfullscreen>
                        </iframe>
                    </div>
                </div>

            </div>
        </div>





        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>
